.intro {
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(148, 109, 50);
}

.introText {
  padding-bottom: 10px;
}

.fancyLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.fancyLink {
  border: 2px solid rgb(148, 109, 50);
  background-color: #09101b;
  text-align: center;
  font-family: 'Voltaire', 'Avenir', sans-serif;
  font-size: 1.75em;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.fancyLink:hover {
  text-decoration: underline;
  background-color: #11151d;
}

.blogHeader {
  padding-top: 10px;
}

.bloglist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(148, 109, 50);
}

@media only screen and (max-width: 600px) {
  .fancyLinks {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .fancyLink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
