.intro {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(148, 109, 50);
}

.bloglist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(148, 109, 50);
}
