@import url('https://fonts.googleapis.com/css?family=Voltaire&display=swap');

.preview img {
  /* display: none; */
  float: left;
  height: auto;
  width: auto;
  padding-top: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.previewTitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.previewTitle a {
  text-decoration: none;
}

.dateField {
  padding-top: 35px;
}

.tag {
  color: #a0a0a0;
  text-decoration: none;
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #a0a0a0;
  margin-right: 0.5em;
}
