@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Voltaire&display=swap');

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lora', 'Times', serif;
  font-size: 1.1em;
  line-height: 1.65;
  color: #373f49;
  margin: 0;
  background-image: url('../../assets/images/canterbury_05.jpg');
  background-size: cover;
  background-blend-mode: color-burn;
  /* background-image: linear-gradient(to bottom right, lightblue, teal); */
  /* background-size: 100%; */
  background-attachment: fixed;
  overscroll-behavior: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-family: 'Voltaire', 'Avenir', sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
}

h2,
h3 {
  font-family: 'Voltaire', 'Avenir', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  text-transform: uppercase;
}

a {
  color: currentColor;
}

.mainWrapper {
  /* background-image: linear-gradient(white, white, #00cc8844);
  background-attachment: fixed; */
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding-bottom: 50px;
  background-attachment: fixed;

  /* padding: 5vmin 0; */
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.post-image {
  width: 200px;
}

small {
  font-family: 'Voltaire', 'Avenir', sans-serif;
  font-size: 0.85em;
}
